:root {
  --base: #f8f9fa;
  --primary: #343a40;
  --secondary: #17a2b8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 16px;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1400px;
  min-height: 600px;
  background: var(--base);
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0px 10px 25px #333;
  margin: 1.5rem;
}

.container .left_side {
  background: var(--primary);
  padding: 1.5rem;
}

.container .right_side {
  background: var(--base);
  padding: 1.5rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  color: var(--base);
  border-bottom: 1px solid var(--base);
}

.profile .profile-image {
  position: relative;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  overflow: hidden;
}

.profile .profile-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 0.8rem;
}

.profile h5 {
  font-size: 0.9rem;
  font-weight: 300;
  margin-top: 0.2rem;
  line-height: 1rem;
}

.profile .btn {
  margin-top: 0.8rem;
  padding: 0.5rem 1.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  background: var(--secondary);
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 20px;
  cursor: pointer;
}

.profile .btn:hover {
  background: var(--primary);
  color: var(--secondary);
  border: 1px solid var(--secondary);
}

.left_items {
  margin-top: 1.2rem;
  color: var(--base);
}

.left_items .title {
  padding-bottom: 0.5rem;
}

.left_items ul li {
  list-style: none;
  margin-bottom: 0.2rem;
}

.left_items ul li .icons {
  display: inline-block;
  width: 1.2rem;
  font-size: 1.2rem;
  color: var(--secondary);
}

.left_items ul li .text {
  font-weight: 300;
}

.left_items ul li .dates {
  color: var(--secondary);
  font-weight: 400;
}

.languages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.languages li {
  margin-right: 1rem;
}

.languages .percent {
  width: 100%;
  height: 0.4rem;
  background: black;
  display: block;
  margin-top: 0.4rem;
}

.languages .percent div {
  width: 100%;
  height: 0.4rem;
  background: var(--secondary);
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
